/* Paletas: 
#ec711f 
#efba45
#231107 */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ec711f;
    font-family: "Lilita One", sans-serif;
    overflow-x: hidden;
}

.menu {
    background-color: #231107;
    height: 55px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    padding: 3px;

}

@media (min-width: 410px) {
    .menu ul li {
        padding: 10px;
    }
}

.menu ul li a {
    text-decoration: none;
    color: #efba45;
    font-size: 10px;
    transition: font-size 0.5s ease;
}

@media (min-width: 540px) {
    .menu ul li a {
        font-size: 15px;
    }
}

.menu ul li a:hover {
    text-shadow: 0 0 10px rgb(229, 144, 41);
    font-size: 15px;
}

@media (min-width: 540px) {
    .menu ul li a:hover{
        font-size: 17px;
    }
}

.menu ul li a:active {
    color: white;
}

.logo {
    height: 30px;
    width: auto;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

@media (min-width: 540px) {
    .logo {
        height: 40px;
    }
}
.container {
    position: relative;
}

.main-foto {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 55px;
}

.full-height {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

.heading-1 {
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    letter-spacing: 2px;
    transition: font-size 0.8s ease;
}

.heading-1:hover {
    font-size: calc(1.05 * var(--font-size));
}

@media (min-width: 200px) {
    .heading-1 {
        --font-size: 10px;
        font-size: var(--font-size);
    }
}
@media (min-width: 355px) {
    .heading-1 {
        --font-size: 20px;
        font-size: var(--font-size);
    }
}
@media (min-width: 600px) {
    .heading-1 {
        --font-size: 35px;
        font-size: var(--font-size);
    }
}
@media (min-width: 800px) {
    .heading-1 {
        --font-size: 50px;
        font-size: var(--font-size);
    }
}
@media (min-width: 1400px) {
    .heading-1 {
        --font-size: 75px;
        font-size: var(--font-size);
    }
}

.heading-2 {
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    font-size: 7px;
    text-align: center;
    z-index: 10;
    letter-spacing: 2px;
    transition: font-size 0.8s ease;
}

.heading-2:hover {
    font-size: calc(1.05 * var(--font-size));
}

@media (min-width: 200px) {
    .heading-2 {
        --font-size: 7px;
        font-size: var(--font-size);
    }
}
@media (min-width: 355px) {
    .heading-2 {
        --font-size: 10px;
        font-size: var(--font-size);
    }
}
@media (min-width: 600px) {
    .heading-2 {
        --font-size: 20px;
        font-size: var(--font-size);
    }
}
@media (min-width: 800px) {
    .heading-2 {
        --font-size: 35px;
        font-size: var(--font-size);
    }
}
@media (min-width: 1400px) {
    .heading-2 {
        --font-size: 50px;
        font-size: var(--font-size);
    }
}

.sec-1 {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    align-items: center;
    justify-content:  center;
    gap: 15px;
}

#sob {
    font-size: 24px;
    color:#231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    text-align: center;
}

@media (min-width: 600px) {
    #sob {
        font-size: 35px
    }
}

@media (min-width: 900px) {
    #sob {
        font-size: 40px
    }
}

.sobre-container {
    background-color: #efba45;
    width: 60vw;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;

}

.sobre-container p {
    text-align: justify;
    color:#231107;
    padding: 10px;
    font-size: 10px;

}

@media (min-width: 400px) {
    .sobre-container p {
        font-size: 13px;
    }
}

@media (min-width: 550px) {
    .sobre-container p {
        font-size: 15px;
    }
}

@media (min-width: 800px) {
    .sobre-container p {
        font-size: 17px;
    }
}

@media (min-width: 1100px) {
    .sobre-container p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .sobre-container p {
        font-size: 23px;
    }
}

.foto-macz-bacon {
    float: left;
    width: 40%;
    height: auto;
    margin: 10px;
    transition: transform 0.5s ease;
}

@media (min-width: 750px) {
    .foto-macz-bacon {
        width: 30%;
    }
}

@media (min-width: 900px) {
    .foto-macz-bacon {
        width: 25%;
    }
}

@media (min-width: 1100px) {
    .foto-macz-bacon {
        width: 20%;
    }
}

.foto-macz-bacon:hover {
    transform: scale(1.1, 1.1);
}

.foto-emb {
    width: 100%;
    height: auto;
}

.cardapio {
    font-size: 24px;
    color:#231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    text-align: center;
}

@media (min-width: 600px) {
    .cardapio {
        font-size: 35px
    }
}

@media (min-width: 900px) {
    .cardapio {
        font-size: 40px
    }
}

.cardapio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #ec711f;
}

.box {
    flex: 1 1 33%;
    min-width: 240px;
    max-width: 300px;
    height: 120px;
    background-color: #efba45;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.5s ease;
    transform-origin: center;
    will-change: transform;
}

.box:hover {
    transform: scale(1.04, 1.04);
}

.foto-cardapio {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border: 1px solid #231107;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-content h3 {
    margin: 0;
    color: #231107;
    font-size: 13px;
    text-align: center;

}

.box-content p {
    margin: 5px 0 0;
    color: #231107ca;
    font-size: 10px;
}