/* Paletas: 
#ec711f 
#efba45
#231107 */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ec711f;
    font-family: "Lilita One", sans-serif;
    overflow-x: hidden;
}

.close-menu {
    display: none;
}

.menu {
    display: none;
    text-align: center;
    top: 0;
    height: 40vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #231107;
    align-content: center;
}

.menu ul, .menu a {
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: #efba45;
}

.menu ul {
    margin-top: 30px;
}

.menu li {
    padding: 5px;
}

.close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2000;
    top: 13px;
    right: 13px;
    background-color: #231107;
    color: #efba45;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #efba45;
    border-radius: 4px;
}

.close-menu:checked~.menu {
    display: block;
}

.close-menu:checked~.close-menu-label::after {
    content: '✕';
}

@media (min-width: 500px) {
    .menu {
        background-color: #231107;
        height: 55px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding-left: 20px;
        padding-right: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .close-menu-label::after{
        display: none;
    }
}

@media (min-width: 500px) {
    .menu ul, .menu ul li, .menu a {
        list-style-type: none;
        display: inline-block;
        margin: 0 3px 0 3px;
        text-decoration: none;
        color: #efba45;
        font-size: 13px;
        transition: font-size 0.5s ease;
    }
}

@media (min-width: 600px) {
    .menu ul li {
        margin: 0 8px 0 8px;
    }
    .menu ul li a {
        font-size: 15px;
    }
}

@media (min-width: 900px) {
    .menu ul li {
        margin: 0 12px 0 12px;
    }
    .menu ul li a {
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .menu ul li {
        margin: 0 20px 0 20px;
    }
    .menu ul li a {
        font-size: 23px;
    }
}

@media (min-width: 1600px) {
    .menu ul li {
        margin: 0 25px 0 25px;
    }
    .menu ul li a {
        font-size: 26px;
    }
}

.menu ul li a:hover {
    text-shadow: 0 0 10px rgb(229, 144, 41);
}

.menu ul li a:active {
    color: white;
}

.logo {
    height: 40px;
    width: auto;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.1, 1.1);
}

.container {
    position: relative;
}

.main-foto {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0px;
}

@media (min-width: 500px) {
    .main-foto {
        margin-top: 55px;
    }
}

.full-height {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes slideInBotton {
    from {
        transform: translateY(-400px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0%, 100% {
        font-size: var(--font-size);
    }
    50% {
        font-size: calc(1.05 * var(--font-size)); 
    }
}

.heading-1 {
    position: relative;
    top: 70%;
    color: #231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    font-size: 10px;
    text-align: center;
    z-index: 10;
    letter-spacing: 2px;
    transition: font-size 0.8s ease;
    animation: slideInBotton 2s ease-out 0s, pulse 1.7s infinite ease-in-out;

}

@media (min-width: 200px) {
    .heading-1 {
        --font-size: 13px;
        font-size: var(--font-size);
    }
}
@media (min-width: 355px) {
    .heading-1 {
        --font-size: 17px;
        font-size: var(--font-size);
    }
}

@media (min-width: 450px) {
    .heading-1 {
        --font-size: 24px;
        font-size: var(--font-size);
    }
}

@media (min-width: 600px) {
    .heading-1 {
        --font-size: 32px;
        font-size: var(--font-size);
    }
}
@media (min-width: 800px) {
    .heading-1 {
        --font-size: 45px;
        font-size: var(--font-size);
    }
}
@media (min-width: 1400px) {
    .heading-1 {
        --font-size: 75px;
        font-size: var(--font-size);
    }
}

.sec-1 {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    align-items: center;
    justify-content:  center;
}

#sob {
    font-size: 24px;
    color:#231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    text-align: center;
}

@media (min-width: 600px) {
    #sob {
        font-size: 35px
    }
}

@media (min-width: 900px) {
    #sob {
        font-size: 40px
    }
}

@media (min-width: 1400px) {
    #sob {
        font-size: 48px
    }
}

.sobre-container {
    background-color: #efba45;
    width: 60vw;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 15px;

}

.sobre-container p {
    text-align: justify;
    color:#231107;
    padding: 10px;
    font-size: 12px;

}

@media (min-width: 400px) {
    .sobre-container p {
        font-size: 13px;
    }
}

@media (min-width: 550px) {
    .sobre-container p {
        font-size: 15px;
    }
}

@media (min-width: 800px) {
    .sobre-container p {
        font-size: 17px;
    }
    .sobre-container{
        width: 50vw;
    }
}

@media (min-width: 1100px) {
    .sobre-container p {
        font-size: 18px;
    }
    .sobre-container{
        width: 40vw;
    }
}

@media (min-width: 1400px) {
    .sobre-container p {
        font-size: 23px;
    }
    .sobre-container{
        width: 40vw;
    }
}

.foto-macz-bacon {
    float: left;
    width: 40%;
    height: auto;
    margin: 10px;
    transition: transform 0.5s ease;
}

@media (min-width: 750px) {
    .foto-macz-bacon {
        width: 30%;
    }
}

@media (min-width: 900px) {
    .foto-macz-bacon {
        width: 25%;
    }
}

@media (min-width: 1100px) {
    .foto-macz-bacon {
        width: 25%;
    }
}

.foto-macz-bacon:hover {
    transform: scale(1.1, 1.1);
}

.foto-emb {
    width: 100%;
    height: auto;
}

.cardapio {
    font-size: 24px;
    color:#231107;
    text-shadow: 0 0 5px rgb(229, 144, 41);
    text-align: center;
}

@media (min-width: 600px) {
    .cardapio {
        font-size: 35px
    }
}

@media (min-width: 900px) {
    .cardapio {
        font-size: 40px
    }
}

.cardapio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #ec711f;
}

.box {
    flex: 1 1 30%;
    max-width: 30%;
    min-width: 240px;
    height: 120px;
    background-color: #efba45;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.5s ease;
    transform-origin: center;
    will-change: transform;
}

.box:hover {
    transform: scale(1.04, 1.04);
}

.foto-cardapio {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box-content h3 {
    margin: 0;
    color: #231107;
    font-size: 13px;
    text-align: center;

}

.box-content p {
    margin: 5px 0 0;
    color: #231107ca;
    font-size: 10px;
}

@media (min-width: 1050px) {
    .box-content h3 {
        font-size: 16px
    }
    .box-content p {
        font-size: 13px
    }
    .box {
        height: 150px;
    }
    .foto-cardapio{
        width: 130px;
        height: auto;
    }
    .cardapio-container {
        gap: 15px;
    }
}

@media (min-width: 1500px) {
    .box-content h3 {
        font-size: 19px
    }
    .box-content p {
        font-size: 16px
    }
    .box {
        height: 160px;
    }
    .foto-cardapio{
        width: 140px;
        height: auto;
    }
    .cardapio-container {
        gap: 20px;
    }
}

.delivery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ec711f;
    text-align: center;
}

.foto-delivery {
    width: auto;
    height: 40vh;
}

.delivery-container p {
    color:#231107;
    font-size: 12px;
}

@media (min-width: 600px) {
    .delivery-container p {
        font-size: 20px
    }
}

@media (min-width: 900px) {
    .delivery-container p {
        font-size: 26px
    }
}

.logo-ifood {
    margin-top: 10px;
    width: auto;
    height: 50px;
    border-radius: 5px;
    animation: pulsar-scale 1.7s infinite ease-in-out;
}

@keyframes pulsar-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.13);
    }
    100% {
        transform: scale(1);
    }
}

.sec-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec4-container {
    width: 80vw;
    min-width: 220px;
    height: auto;
    background-color: #231107;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
}

.contato-container {
    width: 40vw;
    min-width: 220px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

.contato-container h3 {
    color:#efba45;
    font-size: 34px;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 20px;
}

.list {
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content:left;
    padding-left: 10%;
    color:#efba45;
    padding-top: 13px;
    font-size: 11px;
}

@media (min-width: 800px) {
    .list-item {
        font-size: 16px
    }
}

@media (min-width: 1200px) {
    .list-item {
        font-size: 21px
    }
}

.list-item a {
    display: flex;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    align-items: center;
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.form-container {
    width: 40vw;
    min-width: 250px;
    padding: 15px;
    border-top-right-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    height: 40px;
}

textarea {
    resize: none;
    height: 120px;
}


button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #efba45;
    color:#231107;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #ec711f;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #231107;
    color: #efba45;
    margin-top: 50px;
}

.footer img {
    height: 30px;
    padding-right: 8px;
}

.footer p {
    font-size: 10px;
}

@media (min-width: 600px) {
    .footer {
        padding: 20px;
    }
    .footer img {
        height: 40px;
    }
    .footer p {
        font-size: 15px;
    }
}

.wpp-btn img {
    position: fixed;
    height: 50px;
    bottom: 50px;
    right: 2px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 800px) {
    .wpp-btn img {
        height: 100px;
    }
}

.up-arrow img {
    position: fixed;
    height: 40px;
    bottom: 100px;
    right: 6px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 800px) {
    .up-arrow img {
        height: 80px;
        bottom: 150px;
        right: 10px;
    }
}
